FLAKE_ARGS=()
export FLAKE_ROOT=$PWD

source_env_if_exists .envrc.conf

use flake ".#${FLAKE_DEVSHELL-default}" "${FLAKE_ARGS[@]}"
watch_file shell.nix

export FLAKE_OPTS=${FLAKE_OPTS:-"${FLAKE_ARGS[@]}"}
